        @import url('https://fonts.googleapis.com/css?family=Noto+Serif|Source+Sans+Pro&display=swap');
        /* Noto Serif, Source Sans Pro fonts */
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: var(--fc);
            font-family: Helvetica, 'Noto Serif', serif;
        }
        
        a {
            color: inherit;
        }
        
        h1,
        h2,
        h3 {
            font-family: Source Sans Pro, Helvetica, serif;
        }
        
         :root {
            --bc: rgba(91, 91, 91, 1);
            --bc-alt-1: rgba(85, 91, 110, 1);
            --bc-alt-2: rgba(30, 30, 36, 1);
            --gr2: rgba(251, 159, 137, 1);
            --fc: rgba(239, 239, 235, 1);
        }
        
        .block {
            position: relative;
            width: 100%;
            min-height: 100vh;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 2rem;
        }
        /* First Block */
        
        #first_block {
            background-color: #fbab7e;
            background: linear-gradient(-30deg, #fbab7e, #f8c270, #f7ce68);
        }
        
        #block1-header {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 3em;
            background-color: #5dbcd2;
            padding: 0 0.2rem;
            text-align: center;
        }
        
        .under-header1 {
            margin-top: 3rem;
            padding: 1rem;
            max-width: 50rem;
            font-size: 1.4em;
            background-color: #5dbcd2;
        }
        
        #under-block1-header-author {
            margin-top: 0.5rem;
            width: 100%;
            display: inline-block;
            text-align: right;
        }
        
        #block1-under_header-second_block {
            margin-top: 1rem;
        }
        
        #block1-heart {
            width: 10%;
            /* background-color: white; */
            margin-top: 3%;
            animation-name: heart;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        
        @keyframes heart {
            50% {
                opacity: 10%;
            }
        }
        
        #writeprocess {
            font-size: 1.5rem;
            transition: ease-in-out;
            animation-name: writing;
            animation-duration: 2s;
            /* animation-delay: 3s; */
            animation-iteration-count: infinite;
            font-weight: 700;
        }
        
        @keyframes writing {
            50% {
                opacity: 0;
            }
        }
        
        hr.block_separator {
            padding: 0.2rem;
            border: none;
            background-color: rgb(192, 192, 192)
        }
        /* Second Block */
        
        #second_block {
            background-color: #989bcd;
            background-image: linear-gradient(to right top, #a9bbd8, #9eabd3, #989bcd, #9689c4, #9876b7);
            justify-content: flex-start;
            align-items: normal;
            flex-direction: row;
        }
        
        #block2-left_section {
            width: 50%;
            padding: 0 0.5rem;
        }
        
        #about_me-header {
            font-size: 2rem;
        }
        
        #about_me-sub-header {
            font-size: 2rem;
            margin-top: 1rem;
        }
        
        .about_me-text {
            margin-top: 0.7rem;
            font-size: 1.2em;
        }
        
        #block2-right_section {
            width: 50%;
            padding: 0 0.5rem;
        }
        
        #codepen-embed2 {
            margin-top: 0.5em;
        }
        /* END BLOCK */
        
        #last_block_in_portfolio {
            background: rgb(133, 144, 254);
            background: linear-gradient(48deg, rgba(133, 144, 254, 1) 0%, rgba(172, 90, 185, 1) 100%);
        }
        /* Mobile Version */
        
        @media only screen and (max-width: 600px) {
            #second_block {
                flex-direction: column;
            }
            #block2-left_section {
                width: 100%;
            }
            #block2-right_section {
                width: 100%;
            }
            #block1-header {
                font-size: 2.5rem;
            }
        }